html, body {
    padding: 0;
    margin: 0;
}
html {
    background-color: #FAFAF4; 
}
h1 {
    color: #2E60CA;
    font-family: 'Snowburst One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 0 0 4px #37E7FF; 
    margin: 0 auto;
    padding: 140px 0 0 0;
    width: 500px;
    text-align: center;
}
